
.custom-modal-dialogue{
    width: 90vw  !important;
    max-width: 80vw !important;
    height: auto  !important;
    width: auto  !important;
}


.custom-modal-dialogue-vehicle{
    width: 60vw  !important;
    max-width: 60vw !important;
    height: auto  !important;
    width: auto  !important;
}


